@charset "UTF-8";

/* header */
#header {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;

    white-space: nowrap;
    height: 80px;
    width: 100%;
}
#header .logo {
    flex: 0 0 15%;
}
#header .logo a {
    font-size: 30px;
    padding: 12px 18px;
    display: inline-block;
}
#header .logo a em {
    font-size: 18px;
    font-weight: 300;
}
#header .menu {
    flex: 0 0 70%;
    text-align: center;
}
#header .menu li {
    display: inline;
}
#header .menu li a {
    padding: 20px 30px;
    opacity: 0.9;
    display: inline-block;
}
#header .menu li a:hover {
    background: #cfecec;
    opacity: 1;
    border-radius: 5px;
}
#header .member {
    flex: 0 0 15%;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#header .member img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
#header .member .text {
    margin-left: 10px;
    font-size: 16px;
}

@media (max-width: 1200px) {
    #header {
        flex-direction: column;
        height: auto;
    }
    #header .logo {
        text-align: center;
    }
    #header .logo a {
        font-size: 30px;
        padding: 4px 18px 10px 18px;
    }
    #header .member {
        display: none;
    }
    #header .menu {
        margin: 0 auto;
        text-align: center;
    }
    #header .menu li a {
        padding: 10px 10px;
    }
}
