/* blog__label */
.view__label {
    text-align: center;
    color: #fff;
    padding: 150px 0;
    position: relative;
    background: url(https://images.pexels.com/photos/163780/pear-blossoms-pear-tree-spring-blossom-163780.jpeg?cs=srgb&dl=pexels-pixabay-163780.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.view__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.view__label .title {
    font-size: 3.2vw;
    margin-bottom: 10px !important;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.view__label .author {
    display: inline;
    line-height: 1.6;
}
.view__label .author a {
    color: #fff;
    display: inline;
    font-size: 20px;
}
.view__label .date {
    font-size: 20px;
    margin-left: 3px;
}
.view__label .modify a,
.view__label .delete a {
    color: #fff;
    opacity: 0.6;
    font-size: 1.2em;
    padding-top: 10px;
    margin: 0 2px;
    display: inline-block;
}
@media (max-width: 1000px) {
    .view__label {
        padding: 100px 0;
    }
}
